{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load to_str from tag_library %}
{% load split from tag_library %}
{% load start_index from tag_library %}
{% load end_index from tag_library %}

{% block content %}

<style>
    body {
        text-align: center;
        background-image: url('/static/img/back.png');
        background-size: cover;
    }
    .report-container {
        display: inline-block;
        width: 80%;
        background-color: #edf0f5;
        border: 15px solid #b6c1dd;
        border-radius: 0.5rem;
    }
    .result-container {
        display: inline-block;
        vertical-align: top;
        background-color: white;
        border: 2px solid #d1d4d9;
        border-radius: 0.3rem;
        text-align: left;
    }
    .tendency-container {
        display: inline-block;
        width: 90.7%;
        background-color: white;
        border: 2px solid #d1d4d9;
        border-radius: 0.3rem;
        text-align: left;
    }
    .print-result {
        font-size: 1.1rem;
    }
    .tenden {
        display: inline-block;
        font-size: 1.1rem;
    }
</style>

{% for report in report_list %}
    <div class="report-container my-5" style="text-align: left;">
        <h3 class="my-4 mx-4">{{ report.0.report_num }}번 면접 결과 분석</h3>
        {% for result in report %}
            <p id="{{ result.report_num }}_{{ result.quest_id.quest_id }}_stt-text" style="display: none;">{{ result.result_stt }}</p>
            <p id="{{ result.report_num }}_{{ result.quest_id.quest_id }}_eye-tracking" style="display: none;">{{ result.result_eye }}</p>
            <p id="{{ result.report_num }}_{{ result.quest_id.quest_id }}_face-recog" style="display: none;">{{ result.result_face }}</p>
            <p id="{{ result.report_num }}_{{ result.quest_id.quest_id }}_keyword-count" style="display: none;">{{ result.result_add }}</p>

            {% if result.quest_id.level == 3 %}
                <h4 class="mt-5 mx-5">{{ result.quest_id }}. 성향 파악</h4>
                <div style="text-align: center;">
                {% with result.result_add|split:", " as tendencies %}
                    <div class="tendency-container mt-3">
                        {% for tendency in tendencies %}
                        <div>
                            <div class="tenden mt-4 mx-5" style="width: 60%;">o&nbsp;&nbsp;{{ tendency|start_index:5 }}</div>
                            <div class="tenden mt-4 mx-2 tendency-list" style="width: 25%;" id="{{ tendency|end_index:4 }}"></div>
                        </div>
                        {% endfor %}
                        <div style="height: 30px"></div>
                    </div>
                {% endwith %}
                </div>

            {% elif result.quest_id.level == 1 or result.quest_id.level == 4 %}
                <h4 class="mt-5 mx-5">{{ result.quest_id }}. {{ result.quest_id.content }}</h4>
                <div style="text-align: center;">
                    <div class="result-container mt-3 mx-1" style="width: 90.7%;">
                        <h5 class="mt-3 mx-3">답변 스크립트</h5>
                            <hr>
                        <div class="print-result mt-3 mx-4" id="{{ result.report_num }}_{{ result.quest_id.quest_id }}_답변 스크립트"></div>
                    </div>
                {% with title_list='시선 추적, 표정 인식' %}
                {% with title_list|split:", " as titles %}
                    {% for title in titles %}
                        <div class="result-container mt-3 mx-1" style="width: 45%;">
                            <h5 class="mt-3 mx-3">{{ title }}</h5>
                            <hr>
                            <div class="print-result mt-3 mx-4" id="{{ result.report_num }}_{{ result.quest_id.quest_id }}_{{ title }}"></div>
                        </div>
                    {% endfor %}
                {% endwith %}
                {% endwith %}
                </div>
                {% if result.quest_id.quest_id == 7 %}
                    <div style="height: 50px;"></div>
                {% endif %}

            {% elif result.quest_id.level == 2 %}
                <h4 class="mt-5 mx-5">{{ result.quest_id }}. {{ result.quest_id.content }}</h4>
                <div style="text-align: center; display: flex; justify-content: center;">
                    <div class="result-container mt-3 mx-1" style="width: 65%;">
                        <h5 class="mt-3 mx-3">답변 스크립트</h5>
                        <hr>
                        <div class="print-result mt-3 mx-4" id="{{ result.report_num }}_{{ result.quest_id.quest_id }}_답변 스크립트"></div>
                    </div>
                    <div class="result-container mt-3 mx-1" style="width: 25%">
                        <h5 class="mt-3 mx-3">키워드 카운트</h5>
                        <hr>
                        <div class="print-result mt-3 mx-4" id="{{ result.report_num }}_{{ result.quest_id.quest_id }}_키워드 카운트"></div>
                    </div>
                </div>
                <div style="text-align: center;">
                {% with title_list='시선 추적, 표정 인식' %}
                {% with title_list|split:", " as titles %}
                    {% for title in titles %}
                        <div class="result-container mt-3 mx-1" style=" width: 45%;">
                            <h5 class="mt-3 mx-3">{{ title }}</h5>
                            <hr>
                            <div class="print-result mt-3 mx-4" id="{{ result.report_num }}_{{ result.quest_id.quest_id }}_{{ title }}"></div>
                        </div>
                    {% endfor %}
                {% endwith %}
                {% endwith %}
                </div>



            {% endif %}

        {% endfor %}
    </div>
{% endfor %}

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
<script src="{% static 'js/report.js' %}"></script>

{% endblock %}